h1,
a {
  width: 100%;
}

.pagina {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  background: white;
}

#header {
  background-color: #0077b6 !important;

}

body {
  height: 100%;
}

.main {
  /* max-width: 94%; */
  flex: 1;
  margin: 120px 0;
}

.navBg {
  background-color: #074680;
  max-width: 6%;
  height: 100%;
  position: relative;
  justify-self: flex-start;
  align-items: stretch;

}
.navBg nav {
  padding-top: 0;
}

.navBg nav a {
  transition: 0.3s;
  padding-bottom: 15px;
  padding-top: 15px;
  color: white;
  border-bottom: 1px solid white;
  font-weight: 300;
}
.navBg nav a:hover {
  background-color: #0575AB;
  color: white;
}
.navBg nav a:hover i {
  color: white;
}
.navBg nav i {
  padding-right: 10px;
}
.navBg nav small {
  color: white;
  text-align: center;
  margin-top: 15px;
}

#navbarDropdown{
  color: white;
}

#navbarDropdown img{
  width: 50px;
  height: 50px;
  align-self: center;
  border-radius: 0%;
  margin-right: 10px;
}

@media (max-width: 767px) {
  .navBg {
    height: 100%;
  }
  .navBg nav {
    padding-top: 0px;
  }
}

@media (max-width: 1000px){
  .avatar img {
    display: none;
  }
}

@media (max-width: 1350px){
  .avatar img {
    display: none;
  }

  .pagina {
    flex-flow: column;
    align-items: flex-start;
    width: 100%;
    display: flex;
  }

.secciones {
  display: flex;
  flex-direction: row wrap;
  justify-content: flex-start;
  text-align: center;

}

.secciones a {
  background-color: #074680;

}

}

@media (max-width: 576px) {
  .navBg {
    height: 100vh;
    max-width: 55px;
  }
  .navBg nav {
    padding-top: 0px;
  }
  /* .navBg nav h1 {
    display: none;
  } */
  .navBg nav a {
    text-align: center;
  }
  .navBg nav i {
    padding-right: 0px;
  }
  /* .navBg nav span {
    display: none;
  } */

    .avatar img {
    opacity: 0;
  }
}
@media screen and (max-height: 600px) {
  .navBg {
    height: 100%;
    flex-flow: column;
  }
  .navBg nav {
    padding-top: 0px;
  }
  #app {
    display: flex;
    width: 80%;
  }

  /* .avatar img {
    opacity: 0;
  } */
}